@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  /* max-width: 1200px; */
  margin: 0 auto;
}
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  background: black;
  color: white;
  /* cursor: none; */
}
.sub {
  color: #e4e4e3;
}
.btn01MainWrap {
  margin: 0 auto;
}
.btn01Wrap {
  position: relative;
  /* width: 150px; */
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn01 {
  /* background-color: lightgray; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 1.5rem;
  background-color: #f7d8bc;
  background-color: #eae9e9;

  padding: 5px 5px;
  transition: 0.3s;
  box-shadow: -2px -2px 3px #d7f4fa, 2px 2px 3px #c06905,
    inset -2px -2px 4px #070700, -3px -3px 6px 2px #fff;
  color: #b001cb;
  filter: url(#filterBtn);
}
.btn01Wrap span {
  display: inline-block;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #dfc7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: 50%;
  left: 50%;

  transform: translate(-50%, -50%); */
  inset: 0;
  width: 90%;
  width: 250px;
  height: 1.5rem;
  padding: 20px 15px;
  color: #741c99;
  border: 1px solid #fff;
  border-radius: 999px;
  box-shadow: -2px -2px 4px #d8e5e1, 1px 2px 4px #080500;
}
.particle {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  line-height: 1.5;
  background-color: #f102f1;
  background-color: #8909f1;
  border-radius: 50%;
  transition: 0.3s;
  animation: go 6s linear forwards;
}
.btn01MainWrap svg {
  display: none;
}
@keyframes go {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: translate(var(--dx), var(--dy)) scale(0.2);
  }
}
/* -------slider--lundev */
.slider {
  width: 100%;

  height: var(--height);
  margin-bottom: 50px;
  mask-image: linear-gradient(to right, transparent, #000 20% 80%, transparent);
  overflow: hidden;
}
.slider-list {
  position: relative;
  display: flex;

  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
}
.slider-item {
  position: relative;
  width: var(--width);
  height: var(--height);
  position: absolute;
  content: "";
  left: 100%;
  animation: autoRun 20s linear infinite;
  animation-delay: calc((20s / var(--quantity)) * (var(--position) - 1));
  border-radius: 10px;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
}
.slider-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #000, transparent);
}
/* .slider-item::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #150125, transparent, transparent);
} */
.heroAvatar img {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  animation: heroRun 21s linear infinite;
}
.heroAvatar img:nth-child(1) {
  animation-delay: 0s;
}
.heroAvatar img:nth-child(2) {
  animation-delay: 7s;
}
.heroAvatar img:nth-child(3) {
  animation-delay: 14s;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
@keyframes heroRun {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.about {
  position: relative;
  margin: 5rem 0.7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  gap: 20px;
}
.rightBox ::after,
.rightBox ::before {
  position: absolute;
  content: "";
  left: -35%;
  top: 50%;
  background-color: #8114f677;
  background-color: #e7def1;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(170px);
}
.rightBox ::after {
  width: 200px;
  height: 200px;
  left: 70%;
  top: 0;
  background-color: #e7def1;
  filter: blur(130px);
}
.rightBox {
  transform: translateX(-150%);
  animation-duration: 1s;
  animation: runR 1s ease-in-out forwards;
}

.productsListBox {
  opacity: 0;
  margin: 6rem auto;
  animation: runVisible 1s ease-in-out forwards;
}
@keyframes runR {
  from {
    opacity: 0.5;
    transform: translateX(-150%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes runVisible {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

.sectionWrap {
  width: 95%;
  min-height: auto-fit;
  box-shadow: -8px -8px 16px #70707026, 2px 2px 3px #e202fb22,
    8px 8px 16px #313131a5, inset 0 0 #0000, inset 0 0 #fff0;
  border-radius: 0.875rem;
  padding: 20px 10px;
  margin: 2rem auto;
}
h2 {
  width: fit-content;
  background: linear-gradient(60deg, #b001cb, #f6adab);
  font-size: 30px;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 auto;
}
.active {
  width: fit-content;
  background: linear-gradient(60deg, #b001cb, #f6adab);
  font-size: 14px;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 auto;
  padding: 7px;
  border-radius: 5px;
  margin-inline: 7px;
  box-shadow: -1px -2px 2px #fff, 2px 2px 3px #b88db9;
  transition: 0.3s;
}

/*===detail page==*/
.detailBox {
  margin: 5rem auto;
}
.productBox {
  max-width: 600px;
  margin: 0 auto;
  padding: 0.6rem 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  min-height: 450px;
}
.topPanel {
  display: flex;
  justify-content: end;
  align-items: center;
}
.newProduct {
  align-self: end;
  border: 2px groove #8909f1;
  padding: 1rem 2rem;
  border-radius: 7px;
  margin-left: auto;
}
/* =======nav=== */
.navBar {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
}
/* ======footer=== */
.footer {
  width: auto-fit;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
